/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 1;
}

.header h1 a {
  background: no-repeat center url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg);
  background-size: cover;
  width: 300px;
  height: 56px;
}

@media (max-width: 767px) {
  .header h1 a {
    width: 150px;
    height: 25px;
    background: no-repeat center url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/student-week1/logotype-lg-dark.svg);
  }
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 34px 0;
  position: relative;
}

.header .navbar-toggler {
  display: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header .navbar-toggler {
    display: block;
  }
}

@media (max-width: 767px) {
  .header .navbar-toggler:focus {
    outline: 0;
  }
}

.header .navbar-brand a {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.header .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 0px;
}

@media (max-width: 767px) {
  .header .navbar-nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    overflow: hidden;
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .navbar .active {
  max-height: 200px;
}

.header .navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-link {
  padding-left: 30px;
}

@media (max-width: 767px) {
  .header .navbar-link {
    padding-left: 0;
  }
}

.header .nav-link {
  color: #3F5D45;
  font-weight: bold;
  padding: 0 30px;
  display: block;
}

@media (max-width: 767px) {
  .header .nav-link {
    padding: 10px 0;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .header .nav-item {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header .nav-item:hover {
    background-color: #EAF0ED;
  }
}

.banner {
  margin-bottom: 60px;
  position: relative;
  z-index: 0;
}

@media (max-width: 992px) {
  .banner {
    margin-bottom: 0;
  }
}

.footer .setCenter {
  background: #3F5D45;
  color: #EAF0ED;
}

.footer .footerSet {
  width: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .footer .footerSet {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .footer .footerSet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.footer .footerEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footerEmail img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.footer .footerEmail p {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .footer .footerEmail {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    margin-bottom: 30px;
  }
}

.footer .emailInput {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
}

.footer .emailInput img {
  width: 24px;
  height: 24px;
  margin: 16px 20px;
}

.footer .emailInput .material-icons {
  position: absolute;
  color: #3F5D45;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 10px;
}

.footer .emailInput input[type="text"] {
  width: 100%;
  display: block;
  border: none;
  padding: 16px;
  background-color: #EAF0ED;
  text-indent: 30px;
}

.footer .emailInput button {
  display: block;
  width: 64px;
  height: 47.5px;
  border: none;
  cursor: pointer;
  background: center no-repeat #FFE180 url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_forward-24px.png?raw=true);
}

@media (max-width: 767px) {
  .footer .emailInput {
    width: 84%;
  }
}

.footer .footerbg {
  background-color: #EAF0ED;
}

.footer .footerContact {
  padding: 30px 122px;
  max-width: 992px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footerContact .logo {
  margin-bottom: 115.5px;
}

@media (max-width: 767px) {
  .footer .footerContact .logo {
    width: 171px;
    height: 26px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .footer .footerContact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 30px;
    padding-right: 0;
  }
}

.footer .contactContent {
  margin-bottom: 30px;
}

.footer .contactContent li {
  color: #3F5D45;
}

.footer .contactSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .contactSocial img {
  margin-right: 8px;
  width: 32px;
  height: 32px;
}

@media (max-width: 767px) {
  .footer .contactSocial {
    margin-bottom: 23px;
  }
}

.footer .footerOther {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 767px) {
  .footer .footerOther {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.footer .footerOther .slogun img {
  margin-bottom: 40px;
  width: 60px;
}

@media (max-width: 767px) {
  .footer .footerOther .slogun img {
    display: none;
  }
}

.footer .footerOther .copyright {
  color: #3F5D45;
}

.content {
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu {
  width: 32%;
  margin-right: 20px;
}

@media (max-width: 992px) {
  .menu {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.menu h2 {
  padding: 16px 64px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #3F5D45;
  color: #EAF0ED;
}

@media (max-width: 992px) {
  .menu-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu-list li {
  text-align: center;
  border: 1px solid #EAF0ED;
}

@media (max-width: 992px) {
  .menu-list li {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .menu-list li {
    width: 100%;
  }
}

.menu-list li a {
  font-size: 1.5rem;
  padding: 16px 64px;
  color: #3F5D45;
  font-weight: bold;
}

.menu-list li a:hover {
  background-color: #EAF0ED;
}

.desertList {
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .desertList {
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .desertList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.items {
  margin-bottom: 20px;
  position: relative;
  width: 300px;
}

@media (max-width: 992px) {
  .items {
    width: 315px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .items img {
    width: 100%;
  }
}

.items .tag {
  position: absolute;
  left: 20px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  padding: 10px;
  letter-spacing: 5px;
  background: #3F5D45;
  color: #EAF0ED;
}

.items .favorite {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/favorite_border.png?raw=true);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 7%;
  top: 6%;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.items-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-name h3, .items-name p {
  color: #3F5D45;
  font-size: 1.25rem;
  padding: 14px 0;
  border-left: 1px solid #EAF0ED;
}

.items-name h3 {
  width: 58%;
}

.items-name p {
  width: 42%;
  border-right: 1px solid #EAF0ED;
}

.items .add_cart {
  text-align: center;
  background: #EAF0ED;
}

.items .add_cart a {
  padding: 16px 0;
  color: #3F5D45;
  font-size: 1.5rem;
  font-weight: bold;
}

.items .add_cart a:hover, .items .page_list a:hover {
  color: #EAF0ED;
  background: #3F5D45;
}

.page_change {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 992px) {
  .page_change {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page_change .page_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page_change .page_list li {
  width: 60px;
  text-align: center;
  border: 1px solid #EAF0ED;
}

.page_change .page_list a {
  font-size: 1.25rem;
  color: #3F5D45;
  padding: 18px;
}

.setCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

.content-invoice {
  max-width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .content-invoice {
    margin-bottom: 0;
  }
}

.content-invoice .send {
  width: 58.5%;
  height: 100%;
  background-color: #3F5D45;
  color: #EAF0ED;
}

@media (max-width: 767px) {
  .content-invoice .send {
    width: 100%;
  }
}

.content-invoice .send .data {
  padding: 30px 40px;
}

.content-invoice .send-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.content-invoice .send-title h2 {
  font-size: 1.8rem;
}

.content-invoice .send-title ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-invoice .send-title ul li {
  padding-right: 60px;
}

.content-invoice .send-title ul li:last-child {
  padding-right: 0;
  width: 23px;
  height: 23px;
  border: 5px double #3F5D45;
  border-radius: 50%;
  background-color: #EAF0ED;
}

.content-invoice .send-title ul hr {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 66px;
  height: 1px;
  border: none;
  background-color: #EAF0ED;
}

.content-invoice .send-title ul .border {
  left: 105px;
}

.content-invoice .send-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #EAF0ED;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}

.content-invoice .send-method li {
  width: 50%;
}

.content-invoice .send-method li:nth-child(1) {
  padding: 14px;
  background-color: #EAF0ED;
  color: #3F5D45;
}

.content-invoice .send-method li a {
  color: #EAF0ED;
  padding: 14px;
}

.content-invoice .send-method li a:hover {
  background-color: #EAF0ED;
  color: #3F5D45;
}

.content-invoice .send-detail label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.25em;
  font-weight: bold;
}

.content-invoice .send-detail .dis {
  margin-bottom: 16px;
}

.content-invoice .send-detail input[type="text"] {
  background-color: #EAF0ED;
  padding: 17px 20px;
  width: 100%;
  border: none;
}

.content-invoice .send .btn {
  width: 100%;
  border: none;
  padding: 19px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: #3F5D45;
  background-color: #FFE180;
  font-family: "Microsoft JhengHei";
  cursor: pointer;
}

.content-invoice .send .btn:hover {
  color: #FFE180;
  background-color: #3F5D45;
}

.content-invoice .order {
  width: 39%;
}

.content-invoice .order h3 {
  padding: 16px 100px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #EAF0ED;
  color: #8DA291;
}

.content-invoice .order-detail {
  margin-bottom: 20px;
}

.content-invoice .order ul {
  border: 1px solid #EAF0ED;
  padding: 16px 20px;
}

.content-invoice .order ul li {
  color: #8DA291;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-invoice .order ul li:nth-child(1) {
  margin-bottom: 8px;
}

.content-invoice .order ul li:nth-child(2) {
  margin-bottom: 16px;
}

.content-invoice .order ul .total {
  font-size: 1.25rem;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-invoice .order-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-invoice .order-list li p {
  margin-bottom: 2px;
}

.content-invoice .order-list li span {
  font-size: 1.25em;
}

.content-invoice .order-list .pro-img1 {
  background: url(https://github.com/0404kai/work/blob/master/images/cake1.png?raw=true) no-repeat center;
  background-size: cover;
  width: 120px;
  height: 80px;
  margin-right: 20px;
}

.content-invoice .order-list .pro-img2 {
  background: url(https://github.com/0404kai/work/blob/master/images/cake2.png?raw=true) no-repeat center;
  background-size: cover;
  width: 120px;
  height: 80px;
  margin-right: 20px;
}

.content-invoice .order-list .pro-img3 {
  background: url(https://github.com/0404kai/work/blob/master/images/cake3.png?raw=true) no-repeat center;
  background-size: cover;
  width: 120px;
  height: 80px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .content-invoice .order {
    display: none;
  }
}

.send-method-paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #EAF0ED;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
}

.send-method-paper li {
  width: 50%;
}

.send-method-paper li:nth-child(2) {
  padding: 14px;
  background-color: #EAF0ED;
  color: #3F5D45;
}

.send-method-paper li a {
  color: #EAF0ED;
  padding: 14px;
}

.send-method-paper li a:hover {
  background-color: #EAF0ED;
  color: #3F5D45;
}

.send-detail-paper label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.25em;
  font-weight: bold;
}

.send-detail-paper select, .send-detail-paper input {
  background-color: #EAF0ED;
  color: #8DA291;
  border: none;
  padding: 17px 20px;
}

.send-detail-paper select {
  width: 45%;
  margin-bottom: 8px;
  margin-right: 8px;
}

.send-detail-paper input {
  width: 100%;
}

.send-detail-paper .dis {
  margin-bottom: 16px;
}

.content_finShop {
  max-width: 940px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .content_finShop {
    margin-bottom: 0;
    position: relative;
  }
}

.content_finShop .bg-img {
  background: no-repeat center url(https://github.com/0404kai/work/blob/master/images/cake4.png?raw=true);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 460px;
}

.content_finShop .banner_content {
  max-width: 300px;
  text-align: center;
}

.content_finShop .banner_content .checkIcon {
  position: relative;
  color: #3F5D45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 55px;
}

.content_finShop .banner_content .checkIcon li {
  padding-right: 60px;
  margin-bottom: 30px;
}

.content_finShop .banner_content .checkIcon li:last-child {
  padding-right: 0;
}

.content_finShop .banner_content .checkIcon hr {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 66px;
  height: 1px;
  border: none;
  background-color: #3F5D45;
}

.content_finShop .banner_content .checkIcon .border {
  left: 105px;
}

@media (max-width: 767px) {
  .content_finShop .banner_content .checkIcon {
    margin-left: 0;
  }
}

.content_finShop .banner_content img {
  width: 190px;
  margin-bottom: 50px;
}

.content_finShop .banner_content button {
  width: 300px;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #FFE180;
  color: #3F5D45;
  padding: 15px 0;
  cursor: pointer;
}

.content_finShop .banner_content button:hover {
  background-color: #3F5D45;
  color: #FFE180;
}

@media (max-width: 767px) {
  .content_finShop .banner_content button {
    display: none;
  }
}

.content_finShop .btn {
  width: 100%;
  padding: 15px 0;
  display: none;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #FFE180;
  color: #3F5D45;
}

.content_finShop .btn:hover {
  background-color: #3F5D45;
  color: #FFE180;
}

@media (max-width: 767px) {
  .content_finShop .btn {
    display: initial;
  }
}
/*# sourceMappingURL=all.css.map */