.container{
    max-width: 940px;
    margin: 0 auto;
}

.header{
    // margin-top: 30px;
    // margin-bottom: 30px;
    // display: flex;
    // justify-content: space-between;
    // @include mobile(){
    //     align-items: center;
    //     padding: 0 30px 0 33px;
    // }
    // .logo{
    //     width: 220px;
    //     a{
    //         @include hide-text;
    //     }
    // }
    // &-list{
    //     display: flex;
    //     align-items: center;
    // }
    // .list{
    //     width: 215px;
    //     margin-right: 79px;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     @include mobile(){
    //         display: none;
    //     }
    //     li{
    //         @include mobile(){
    //             width: 100%;
    //         }
    //         a{
    //             color: $dark-green;
    //             font-weight: bold;
    //             padding: 10px;
    //             &:hover{
    //                 color: $light-green;
    //             }
    //         }
    //     }
    // }
    // .shop img{
    //     padding: 10px;
    // }
    position: relative;
    z-index: 1;
    h1 a{
        background: no-repeat center url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg);
        background-size: cover;
        width: 300px;
        height: 56px;
        @include mobile(){
            width: 116px;
            height: 16px;
            background: no-repeat center url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/student-week1/logotype-lg-dark.svg);
            // background-size: cover;
        }
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 34px 0;
        position: relative;
        &-toggler{
            display: none;
            border: none;
            background: transparent;
            cursor: pointer;
            @include mobile(){
                display: block;
            }
            &:focus{
                @include mobile(){
                    outline: 0;
                }
            }
        }
        &-brand{
            // width: 220px;
            a{
                @include hide-text;
            }
        }
        &-nav{
            display: flex;
            align-items: center;
            max-height: 0px;
            @include mobile(){
                position: absolute;
                left: 0;
                top: 100%;
                width: 100%;
                transition: all 0.8s;
                overflow: hidden;
                background: white;
                flex-direction: column;
            }
        }
        .active {
            max-height: 200px;
        }
        &-collapse{
            display: flex;
            align-items: center;
        }
        &-link{
            padding-left: 30px;
            @include mobile(){
                padding-left: 0;
            }
        }
    }

    .nav-link {
        color: #3F5D45;
        font-weight: bold;
        padding: 0 30px;
        display: block;
        @include mobile(){
            padding: 10px 0;
            text-align: center;
        }
    }
    
    .nav-item {
        @include mobile(){
            width: 100%;
        }
        &:hover{
            @include mobile(){
                background-color: #EAF0ED;
            }
        }
    }
}

.banner{
    margin-bottom: 60px;
    position: relative;
    z-index: 0;
    @include pad(){
        margin-bottom: 0;
    }
}