.send{
    &-method-paper{
        display: flex;
        border: 1px solid $light-green;
        margin-bottom: 30px;
        font-weight: bold;
        text-align: center;
        font-size: 1.25rem;
        li{
            width: 50%;
            &:nth-child(2){
                padding: 14px;
                background-color: $light-green;
                color: $dark-green;    
            }
            a{
                color: $light-green;
                padding: 14px;
                &:hover{
                    background-color: $light-green;
                    color: $dark-green;
                }
            }
        }
    }
    &-detail-paper{
        label{
            display: block;
            margin-bottom: 8px;
            font-size: 1.25em;
            font-weight: bold;
        }
        select, input{
            background-color: $light-green;
            color: $dark2-green;
            border: none;
            padding: 17px 20px; 
        }
        select{
            width: 45%;
            margin-bottom: 8px;
            margin-right: 8px;
        }
        input{
            width: 100%;
        }
        .dis{
            margin-bottom: 16px;
        }
    }
}